@import url('https://fonts.googleapis.com/css?family=Monoton|Rajdhani:400,700');
body 
{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
}
h1
{
    font-family: "Monoton", sans-serif;
    font-weight: normal;
    margin-top: 1.3empx;
    margin-bottom: .7em;
    font-size: 4.3em;
    text-shadow: 0px 0px .4em rgba(255,20,147, 1);
    color: deeppink;
}
h2 abbr
{
    text-decoration: none;
}
h2, h3
{
    font-family: "Rajdhani", sans-serif;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
    font-weight: 700;

}
h2 
{
    
    
    font-size: 2.5em;
}
h3 
{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .7em;
}
p 
{
    font-size: 1em;
    margin: .5empx 0px;
    width: 42.5em;
    padding-right: .3em;
}
a 
{
    text-decoration: none;
    color: deeppink;
}
ul 
{
    list-style: none;
    padding: 0;
}
.page-wrapper
{
    padding: 4em;
}
aside.sidebar 
{
    position: absolute;
    right: 1%;
    top: 15em;
    padding: 4em 1.3em;
}
#zen-summary, p:first-child 
{
    margin-top: 2em;
}
