@import url(https://fonts.googleapis.com/css?family=Nova+Square);
body 
{
	background-color: #EEEEEE;
	font-family: sans-serif;
	margin: 25px;
	font-size: 20px;
	line-height: 125%;
}
.page-wrapper 
{
	padding: 2.2em 0;
	margin: 0 auto;
	min-width: 23.7em;
}
header * 
{
	margin: 1.2em 0;
	text-decoration: none !important;
}
.page-wrapper
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	row-gap: 2em;
	column-gap: 2em;
}
.intro
{
	grid-area: 1 / 1 / 5 / 2;
}
main
{
	grid-area: 1 / 2 / auto / 5;
}
.intro h2 
{ 
	color: #FFF6E0;
	background-color: #E23045; 
	border-radius: 1px;
	padding: .5em .3em;
}
.summary, .preamble 
{
	color: #FFF6E0;
	background-color: #1B4549;
	padding: 1.3em .5em;
	margin: .7em 0 1em 0;
	box-shadow: 1em .5em #7AB3B0;
}
#zen-supporting
{
	background-color: #FFF6E0;
	border: 1px solid #333333;
	padding: 1em 1em;
	margin: .5em 0;
} 
.main 
{
	grid-area: 1 / 2 / auto / 5;
	width: 35em;
}
.main, .preamble 
{
	box-shadow: 1em 1em #7AB3B0;
	border-radius: 3px;
}
h1, h2, h3
{
	font-family: 'Nova Square', cursive;
}
h1 
{
	font-size: 3.75rem;
	margin-bottom: 1em;
}
h2 
{
	font-size: 2rem;
}
h3 
{
	font-size: 1.5rem;
}
p 
{
	font-size: 1.25rem;
	margin-bottom: 0;
}
abbr
{
	text-decoration: underline;
}
a 
{
	text-decoration: none;
	color: #1B4549;
}
a:hover
{
	color: #E23045;
}
a:active
{
	color: #7AB3B0;
}
a:visited
{
	color: red;
}
article a, h1 
{
	color: #E23045;
}
ul
{
	padding: 0;
}
li 
{
	list-style-type: none;
	box-shadow: .5em .5em #F59F81;
	text-align: center;
	margin-bottom: 1em;
	padding: .5em .5em;
	font-weight: bold;
	border: .5em solid #E23045;
}
.sidebar 
{
	margin-left: 7%;
}
.sidebar .wrapper
{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.5em;

}
aside.sidebar
{
	grid-area: 2 / 2 / 3 / 5;
}
footer 
{
	margin-top: 4em;
	text-align: right;
}
footer a 
{
	background-color: #908673;
	box-shadow: .5em .5em #D8CFBC;
	padding: .3em .5em;
	border-radius: 3px;
}
