body 
{
	background-color: #EEEEEE;
	font-family: sans-serif;
}
.page-wrapper 
{
	padding: 50px 0;
	width: 55%;
	margin: 0 auto;
	min-width: 475px;
}
header * 
{
	margin: 15px 0;
}
.intro h2 
{ 
	color: #FFF6E0;
	background-color: #E23045; 
	border-radius: 3px;
	padding: 10px 5px;
}
.summary, .preamble 
{
	color: #FFF6E0;
	background-color: #1B4549;
	padding: 30px 10px;
	margin: 15px 0 20px 0;
}
#zen-supporting
{
	background-color: #FFF6E0;
	border: 1px solid #333333;
	padding: 20px 20px;
	margin: 10px 0;
} 
.main 
{
	width: 65%;
	display: inline-block;
	min-width: 475px;
}
.main, .preamble 
{
	box-shadow: 30px 20px #7AB3B0;
	border-radius: 3px;
}
li 
{
	list-style-type: none;
	box-shadow: 10px 10px #F59F81;
	text-align: center;
	background-color: #E23045;
	margin: 5px 0;
	padding: 7px 0;
	font-weight: bold;
	border-radius: 2px;
}
.sidebar 
{
	width: 25%;
	margin-left: 7%;
	min-width: 225px;
}

